.div-stable {
    width: 2px;
    height: 2rem;
    margin: 2rem auto;
    background: black;
}
.div-grid-blog {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.1rem;
}
.latestblog{
    margin-top: 8rem;
    background-color: rgb(250, 250, 250);
}